# basic
__pycache__
.vscode
.coverage
.pytest_cache

# git subrepos
# (uncomment below if you explicitely want Docker/Podman to not use locally downloaded dirs)
#android_*
#*_kernel_*
#clang*
#rtl8812au
#AnyKernel3
#KernelSU

# misc local artifacts
kernel
assets
source
bundle
localversion

# and the Dockerfile itself
Dockerfile
