# basic
.vscode
**/__pycache__

# git subrepos
android_*
*_kernel_*
clang*
rtl8812au
AnyKernel3
KernelSU

# misc local artifacts
kernel
assets
source
bundle
localversion

# and the Dockerfile itself
Dockerfile
