# basic
.vscode
**/__pycache__
.mypy_cache

# git subrepos
/android_*
/*_kernel_*
/clang*
/rtl8812au
/AnyKernel3
/KernelSU

# misc local artifacts
/*.log
/kernel
/assets
/source
/bundle
/localversion
/multi-build
