[tool.poetry]
name = "zero-kernel-builder"
version = "0.4.1"
description = "An Android kernel with Kali NetHunter functionality."
authors = ["seppzer0"]
readme = "README.md"
packages = [{include = "wrapper"}]

[tool.poetry.dependencies]
python = "^3.10"
conan = "~1"
argparse = "*"
requests = "*"
bandit = "*"
pathlib = "*"
dataclasses = "*"
typing = "*"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
