[tool.poetry]
name = "zero-kernel-builder"
version = "0.4.1"
description = "An Android kernel with Kali NetHunter functionality."
authors = ["seppzer0"]
readme = "README.md"
packages = [{include = "wrapper"}]

[tool.poetry.dependencies]
python = "^3.12"
conan = "~1"
argparse = "*"
requests = "*"
pathlib = "*"
typing = "*"
pydantic = "^2.6"

[tool.poetry.dev-dependencies]
bandit = "*"
pytest-cov = "*"

[tool.coverage.report]
show_missing = true

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
